@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 50vh;
  width: 50%;
  border-radius: 2rem;
}
@media (max-width: 639px) {
  .leaflet-container {
    width: 90%;
    height: 30vh;
  }
}
@font-face {
  font-family: 'Comic';
  src: url('/src/assets/fonts/Comicy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
